<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragment/header :: head"></head>

<body bgcolor="#FFFFFF">

<!-- BODY -->
<table class="body-wrap">
    <tr>
        <td></td>
        <td class="container" bgcolor="#FFFFFF">
            <div class="content">
                <table>
                    <tr>
                        <td>
                            <p class="logo"><img src="../images/sppoti_logo.png" th:src="|cid:${imageResourceName}|"/>
                            </p>

                            <h3 class="email-title" th:text="${firstName}"></h3>

                            <p class="lead account-message" th:text="${body}"></p>

                            <p class="reset button-text"><a th:href="${buttonLink}" class="link-account-path"
                                                            th:text="${textButtonLink}"></a></p>

                            <!-- Show this block only for recover password -->
                            <p th:class="${isRecoverPassword} ? 'callout' : 'hide'">
                                <span th:text="#{mail.accountRecoverInformation}">
                                If you ignore this message, your password will not be changed. If you didn't request a
                                password reset</span> <a href="#" class="recover-password-let-us-know"
                                                         th:text="${contactUsMessageText}"
                                                         th:href="'mailto:' + ${contactUsLink}">let us know!</a>
                            </p>

                            <br/>

                            <p th:replace="fragment/footer :: footer"></p>

                        </td>
                    </tr>
                </table>
            </div>

        </td>
        <td></td>
    </tr>
</table>
</body>
</html>