<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragment/header :: head"></head>
<body>

<table class="body-wrap">
    <tr>
        <td></td>
        <td class="container" bgcolor="#FFFFFF">
            <div class="content">
                <table>
                    <tr>
                        <td>

                            <div class="mail_header_as_cover">
                                <!-- A Real Hero (and a real human being) -->
                                <img src="../images/sppoti_bg.png" th:src="|cid:${headerResourceName}|"/>
                            </div>

                            <h3 class="email-title" th:text="${receiverUsername}"></h3>

                            <p class="lead">
                                <span th:utext="${content}">message</span>
                            </p>

                            <br/>
                            <p th:replace="fragment/footer :: footer"></p>

                        </td>
                    </tr>
                </table>
            </div>

        </td>
        <td></td>
    </tr>
</table>

</body>
</html>