<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragment/header :: head"></head>

<body>
<p class="ftr" th:fragment="footer">
    <span>© sppoti, 2017</span>
    <span class="remove-your-email">
        <span th:text="#{mail.sentTo}">This message was sent to </span>
        <span th:text="${receiverEmail}">xxx.xxx@xxx.xx</span>
        <span th:text="#{mail.intendedFor}">and intended for</span>
        <span th:text="${receiverUsername}">xsxsxsxxsx</span>.
        <span th:text="#{mail.notYourAccount}">Not your account?</span>
        <a th:href="'mailto:' + ${contactUsLink}" th:text="#{mail.contactUs}">contact us</a>.
    </span>
</p>
</body>
</html>